html{
	line-height:1.15;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
	}

	body{
		margin:0
	}

	footer,header,nav,section{
		display:block
		}

	h1 {
		font-size:2em;
		margin:.67em 0
	}


	figcaption,figure {
		display:block}

	figure{
		margin:1em 40px
	}

	a{
		background-color:transparent;
		-webkit-text-decoration-skip:objects
	}

	a:active,a:hover{
		outline-width:0
	}

	img{
		border-style:none
	}

	svg:not(:root){
		overflow:hidden
	}

	button,input,textarea {
		font-family:sans-serif;
		font-size:100%;
		line-height:1.15;
		margin:0
	}

	button,input {
		overflow:visible
	}

	button{text-transform:none}

	[type=submit],button,html [type=button] {
		-webkit-appearance:button;
	}

	[type=button]::-moz-focus-inner,
	[type=submit]::-moz-focus-inner,
	button::-moz-focus-inner {
		border-style:none;
		padding:0
	}

					[type=button]:-moz-focusring,
					[type=submit]:-moz-focusring,
					button:-moz-focusring {
						outline:1px dotted ButtonText
						}

					textarea{overflow:auto}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

					body,button,input,textarea{
						text-rendering:optimizeLegibility;
						-webkit-font-smoothing:antialiased;
						-moz-osx-font-smoothing:grayscale;
						font-feature-settings:"liga","kern";
						-webkit-font-feature-settings:"liga","kern";
						-moz-font-feature-settings:"liga","kern";
						font-kerning:normal;
						-webkit-font-kerning:normal;
						-moz-font-kerning:normal
						}

						@font-face{font-family:Poppins;src:url(fonts/Poppins/Poppins-Regular.woff2) format("woff2"),
						url(fonts/Poppins/Poppins-Regular.woff) format("woff"),
						url(fonts/Poppins/Poppins-Regular.ttf) format("truetype");
						font-weight:400;font-style:normal}

						@font-face{
							font-family:Poppins;src:url(fonts/Poppins/Poppins-SemiBold.woff2) format("woff2"),
							url(fonts/Poppins/Poppins-SemiBold.woff) format("woff"),url(fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
							font-weight:600;
							font-style:normal}

							@font-face{
								font-family:PTSerif;
								src:url(fonts/PTSerif/PTSerif-Regular.woff2) format("woff2"),url(fonts/PTSerif/PTSerif-Regular.woff) format("woff"),url(fonts/PTSerif/PTSerif-Regular.ttf) format("truetype");
								font-weight:400;
								font-style:normal}

								@font-face{font-family:PTSerif;src:url(fonts/PTSerif/PTSerif-Bold.woff2) format("woff2"),url(fonts/PTSerif/PTSerif-Bold.woff) format("woff"),url(fonts/PTSerif/PTSerif-Bold.ttf) format("truetype");
								font-weight:700;
								font-style:normal}

								.icon{
								display:inline-block;
								width:1em;
								height:1em;
								vertical-align:-.15em;
								fill:currentColor}

							.container{
								margin-left:auto;
								margin-right:auto;
								padding-left:15px;
								padding-right:15px
								}

								.row {
									display:-ms-flexbox;
									display:flex;
									-ms-flex-wrap:wrap;
									flex-wrap:wrap;margin-left:-15px;
									margin-right:-15px
								}

									.col{
									position:relative;
									min-height:1px;
									padding-right:15px;
									padding-left:15px;
									width:100%}

									.col--xs-6{
									-ms-flex:0 0 50%;
									flex:0 0 50%;
									max-width:50%}

									.slick-slider{
										box-sizing:border-box;
										-webkit-touch-callout:none;
										-webkit-user-select:none;
										-moz-user-select:none;
										-ms-user-select:none;user-select:none;
										-ms-touch-action:pan-y;
										touch-action:pan-y;
										-webkit-tap-highlight-color:transparent}

									.slick-list,.slick-slider{
										position:relative;
										display:block
									}

									.slick-list{
									overflow:hidden;
									margin:0;
									padding:0}

									.slick-list:focus{outline:none}

									.slick-list.dragging{cursor:pointer;cursor:hand}

									.slick-slider .slick-list,.slick-slider .slick-track{
										-webkit-transform:translateZ(0);
										transform:translateZ(0)}

									.slick-track{
										position:relative;
										left:0;
										top:0;
										display:block}

										.slick-track:after,.slick-track:before{content:"";display:table}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{float:left;height:100%;min-height:1px;display:none}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.fancybox-enabled{overflow:hidden}.fancybox-enabled body{overflow:visible;height:100%}.fancybox-container{position:fixed;top:0;left:0;width:100%;height:100%;z-index:8;-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-container~.fancybox-container{z-index:7}.fancybox-bg{position:absolute;top:0;right:0;bottom:0;left:0;background:#0f0f11;opacity:0;transition-timing-function:cubic-bezier(.55,.06,.68,.19);-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-container--ready .fancybox-bg{opacity:.87;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-controls{position:absolute;top:0;left:0;right:0;text-align:center;opacity:0;z-index:9;transition:opacity .2s;pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;direction:ltr}.fancybox-show-controls .fancybox-controls{opacity:1}.fancybox-infobar{display:none}.fancybox-show-infobar .fancybox-infobar{display:inline-block;pointer-events:all}

										.fancybox-infobar__body{
											display:inline-block;
											width:70px;line-height:44px;
											font-size:13px;
											font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
											text-align:center;
											color:#ddd;background-color:rgba(30,30,30,.7);
											pointer-events:none;-webkit-user-select:none;
											-moz-user-select:none;
											-ms-user-select:none;user-select:none;
											-webkit-touch-callout:none;
											-webkit-tap-highlight-color:transparent;
											-webkit-font-smoothing:subpixel-antialiased}

											.fancybox-buttons{
												position:absolute;
												top:0;right:0;
												display:none;
												pointer-events:all
											}

											.fancybox-show-buttons .fancybox-buttons{
												display:block
											}

											.fancybox-slider-wrap{overflow:hidden;direction:ltr}

											.fancybox-slider,.fancybox-slider-wrap{
												position:absolute;
												top:0;left:0;
												bottom:0;right:0;
												padding:0;margin:0;
												z-index:8;
												-webkit-backface-visibility:hidden;
												backface-visibility:hidden;
												-webkit-tap-highlight-color:transparent}

												.fancybox-slide{
													position:absolute;
													top:0;
													left:0;
													width:100%;
													height:100%;
													margin:0;
													padding:0;
													overflow:auto;
													outline:none;
													white-space:normal;
													box-sizing:border-box;
													text-align:center;
													z-index:9;
													-webkit-overflow-scrolling:touch}

													.fancybox-slide:before{
														content:"";
														height:100%;
														width:0}

													.fancybox-slide:before,.fancybox-slide>*{
														display:inline-block;
														vertical-align:middle
													}

													.fancybox-slide>*{position:relative;
														padding:24px;
														margin:44px 0;
														border-width:0;
														text-align:left;
														background-color:#fff;
														overflow:auto;
														box-sizing:border-box}

													.fancybox-slide--image{
														overflow:hidden}

													.fancybox-slide--image:before{display:none}

													.fancybox-content{
														display:inline-block;
														position:relative;
														margin:44px auto;
														padding:0;
														border:0;width:80%;
														height:calc(100% - 88px);
														vertical-align:middle;
														line-height:normal;
														text-align:left;
														white-space:normal;
														outline:none;
														font-size:16px;
														font-family:Arial,sans-serif;
														box-sizing:border-box;-webkit-tap-highlight-color:transparent;
														-webkit-overflow-scrolling:touch}

														.fancybox-iframe{display:block;
															margin:0;
															padding:0;
															border:0;
															width:100%;
															height:100%;
															background:#fff}

														.fancybox-placeholder,.fancybox-slide--video .fancybox-content,.fancybox-slide--video .fancybox-iframe{
															background:transparent
														}

														.fancybox-placeholder{
															z-index:10;
															cursor:default;
															overflow:visible;
															-webkit-transform-origin:top left;
															transform-origin:top left;
															background-size:100% 100%;
															background-repeat:no-repeat;
															-webkit-backface-visibility:hidden;
															backface-visibility:hidden}

														.fancybox-image,.fancybox-placeholder,.fancybox-spaceball{
															position:absolute;
															top:0;
															left:0;
															margin:0;
															padding:0;
															border:0}

														.fancybox-image,.fancybox-spaceball{width:100%;height:100%;max-width:none;max-height:none;background:transparent;background-size:100% 100%}.fancybox-controls--canzoomOut .fancybox-placeholder{cursor:zoom-out}.fancybox-controls--canzoomIn .fancybox-placeholder{cursor:zoom-in}.fancybox-controls--canGrab .fancybox-placeholder{cursor:-webkit-grab;cursor:grab}.fancybox-controls--isGrabbing .fancybox-placeholder{cursor:-webkit-grabbing;cursor:grabbing}.fancybox-spaceball{z-index:1}.fancybox-tmp{position:absolute;top:-9999px;left:-9999px;visibility:hidden}.fancybox-error{position:absolute;margin:0;padding:40px;top:50%;left:50%;width:380px;max-width:100%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;cursor:default}.fancybox-error p{margin:0;padding:0;color:#444;font:16px/20px Helvetica Neue,Helvetica,Arial,sans-serif}.fancybox-close-small{position:absolute;top:0;right:0;width:44px;height:44px;padding:0;margin:0;border:0;border-radius:0;outline:none;background:transparent;z-index:5;cursor:pointer}.fancybox-close-small:after{content:"Ã—";position:absolute;top:5px;right:5px;width:30px;height:30px;font:20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;color:#888;font-weight:300;text-align:center;border-radius:50%;border-width:0;background:#fff;transition:background .2s;box-sizing:border-box;z-index:2}.fancybox-close-small:focus:after{outline:1px dotted #888}.fancybox-slide--video .fancybox-close-small{top:-36px;right:-36px;background:transparent}.fancybox-close-small:hover:after{color:#555;background:#eee}.fancybox-caption-wrap{position:absolute;bottom:0;left:0;right:0;padding:60px 30px 0;z-index:11;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box;background:linear-gradient(180deg,transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 40%,rgba(0,0,0,.6) 80%,rgba(0,0,0,.8));opacity:0;transition:opacity .2s;pointer-events:none}.fancybox-show-caption .fancybox-caption-wrap{opacity:1}.fancybox-caption{padding:30px 0;border-top:1px solid hsla(0,0%,100%,.4);font-size:14px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#fff;line-height:20px;-webkit-text-size-adjust:none}.fancybox-caption a,.fancybox-caption button{pointer-events:all}.fancybox-caption a{color:#fff;text-decoration:underline}.fancybox-button{display:inline-block;position:relative;width:44px;height:44px;line-height:44px;margin:0;padding:0;border:0;border-radius:0;cursor:pointer;background:transparent;color:#fff;box-sizing:border-box;vertical-align:top;outline:none}.fancybox-button--disabled{cursor:default;pointer-events:none}.fancybox-button,.fancybox-infobar__body{background:rgba(30,30,30,.6)}.fancybox-button:hover{background:rgba(0,0,0,.8)}.fancybox-button:after,.fancybox-button:before{content:"";pointer-events:none;position:absolute;border-color:#fff;background-color:currentColor;color:currentColor;opacity:.9;box-sizing:border-box;display:inline-block}.fancybox-button--disabled:after,.fancybox-button--disabled:before{opacity:.5}.fancybox-button--left:after{left:20px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}.fancybox-button--left:after,.fancybox-button--right:after{top:18px;width:6px;height:6px;background:transparent;border-top:2px solid currentColor;border-right:2px solid currentColor}.fancybox-button--right:after{right:20px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--left{border-bottom-left-radius:5px}.fancybox-button--right{border-bottom-right-radius:5px}.fancybox-button--close{float:right}.fancybox-button--close:after,.fancybox-button--close:before{content:"";display:inline-block;position:absolute;height:2px;width:16px;top:calc(50% - 1px);left:calc(50% - 8px)}.fancybox-button--close:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--close:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.fancybox-loading{border:6px solid rgba(99,99,99,.4);border-top:6px solid hsla(0,0%,100%,.6);border-radius:100%;height:50px;width:50px;-webkit-animation:a .8s infinite linear;animation:a .8s infinite linear;background:transparent;position:absolute;top:50%;left:50%;margin-top:-25px;margin-left:-25px;z-index:12}.fancybox-button--fullscreen:before{width:15px;height:11px;left:15px;top:16px;border:2px solid;background:none}.fancybox-button--play:before{top:16px;left:18px;width:0;height:0;border-top:6px inset transparent;border-bottom:6px inset transparent;border-left:10px solid;border-radius:1px;background:transparent}.fancybox-button--pause:before{top:16px;left:18px;width:7px;height:11px;border-style:solid;border-width:0 2px;background:transparent}.fancybox-button--thumbs span{font-size:23px}.fancybox-button--thumbs:before{top:20px;left:21px;width:3px;height:3px;box-shadow:0 -4px 0,-4px -4px 0,4px -4px 0,inset 0 0 0 32px,-4px 0 0,4px 0 0,0 4px 0,-4px 4px 0,4px 4px 0}.fancybox-container--thumbs .fancybox-caption-wrap,.fancybox-container--thumbs .fancybox-controls,.fancybox-container--thumbs .fancybox-slider-wrap{right:220px}.fancybox-thumbs{position:absolute;top:0;right:0;bottom:0;left:auto;width:220px;margin:0;padding:5px 5px 0 0;background:#fff;z-index:8;word-break:normal;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;box-sizing:border-box}.fancybox-thumbs>ul{list-style:none;position:absolute;position:relative;width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;overflow-y:auto;font-size:0}.fancybox-thumbs>ul>li{float:left;overflow:hidden;max-width:50%;padding:0;margin:0;width:105px;height:75px;position:relative;cursor:pointer;outline:none;border:5px solid #fff;border-top-width:0;border-right-width:0;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box}li.fancybox-thumbs-loading{background:rgba(0,0,0,.1)}.fancybox-thumbs>ul>li>img{position:absolute;top:0;left:0;min-width:100%;min-height:100%;max-width:none;max-height:none;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-thumbs>ul>li:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-radius:2px;border:4px solid #4ea7f9;z-index:6;opacity:0;transition:all .2s cubic-bezier(.25,.46,.45,.94)}.fancybox-thumbs>ul>li.fancybox-thumbs-active:before{opacity:1}.slick-slide{outline:0}html{font-size:10px;-webkit-tap-highlight-color:transparent;box-sizing:border-box}*,:after,:before{box-sizing:inherit}

														body{
															font-family: PTSerif;
															font-size: 18px;
															line-height: 1.5;
															color: #61666d;
															background-color: #2196f3}

															button:focus,input:focus,textarea:focus{
																outline:none
															}

															a{
																color:#2196f3;
																text-decoration:none}

															a:focus{outline:none}

															a:hover{
																color:#2196f3;
																text-decoration:underline
															}

															figure{margin:0}

															img{vertical-align:middle}

															.h5,h1,h2,h3,h5{
																font-family:Poppins;
																font-weight:600;
																line-height:1.1;
																color:inherit}

															h1,h2,h3{
																margin-top:27px;
																margin-bottom:27px
															}

															.h5,h5{margin-top:13.5px;
																margin-bottom:13.5px
															}

															h1{font-size:2.6666666667em}
															h2{font-size:2em}
															h3{font-size:1.3333333333em}

															.h5,h5{font-size:1em}

															p{margin:13.5px 0 0}
															.c-button{position:relative;
																display:inline-block;
																padding:1.5em 3em;
																border-width:0;
																font-family:Poppins;
																font-size:12px;
																line-height:1em;
																text-align:center;
																cursor:pointer;
																font-weight:600;
																z-index:2;
																transition:color .4s,box-shadow .4s,background-color .4s}

															.c-button,.c-button:focus,.c-button:hover{text-decoration:none}.c-button--primary{background-color:#2196f3;color:#fff;border-radius:3px;box-shadow:inset 0 0 0 1px #2196f3}.c-button--primary:focus,.c-button--primary:hover{background-color:transparent;color:#2196f3;box-shadow:inset 0 0 0 1px #2196f3}.c-button--white{background-color:#fff;color:#2196f3;border-radius:3px;box-shadow:inset 0 0 0 1px #fff}.c-button--ghost,.c-button--white:focus,.c-button--white:hover{background-color:transparent;color:#fff;box-shadow:inset 0 0 0 1px #fff}.c-button--ghost{border-radius:3px}.c-button--ghost:focus,.c-button--ghost:hover{background-color:#fff;color:#2196f3;box-shadow:inset 0 0 0 1px #fff}.c-button--transparent-primary{padding:1.5em 1em;border-radius:0;box-shadow:inset 0 -2px 0 0 transparent}.c-button--transparent-primary,.c-button--transparent-primary:focus,.c-button--transparent-primary:hover{background-color:transparent;color:#2196f3}.c-button--transparent-primary.is-active,.c-button--transparent-primary:hover{box-shadow:inset 0 -2px 0 0 #2196f3}.c-button--transparent-white{padding:1.5em 1em;border-radius:0;box-shadow:inset 0 -2px 0 0 transparent}.c-button--transparent-white,.c-button--transparent-white:focus,.c-button--transparent-white:hover{background-color:transparent;color:#fff}.c-button--transparent-white.is-active,.c-button--transparent-white:hover{box-shadow:inset 0 -2px 0 0 #fff}.c-form-control{display:block;width:100%;height:48px;padding:9.5px 12px;font-size:16px;line-height:27px;background-image:none;color:#414449;background-color:inherit;border:1px solid #a2a5aa;border-radius:1px}.c-form-control::-webkit-input-placeholder{color:#ddd}.c-form-control:-ms-input-placeholder{color:#ddd}.c-form-control::placeholder{color:#ddd}.c-form-control:focus{border-color:#2196f3}.c-form-control[disabled]{opacity:.5;background-color:#eee}.c-form-control--textarea{height:auto;resize:none;overflow:auto}.c-navbar{position:relative;z-index:3}.c-navbar__body{min-height:115px;-ms-flex-align:center;align-items:center}.c-navbar__body,.c-navbar__nav{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between}.c-navbar__nav{-ms-flex-positive:1;flex-grow:1;overflow-x:hidden;overflow-y:auto}.c-hamburger{position:relative;width:40px;height:40px;background-color:transparent;border:0;padding:0;cursor:pointer}.c-hamburger__line{left:50%;top:50%;width:20px;height:2px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);transform-origin:center}.c-hamburger__line,.c-hamburger__line:after,.c-hamburger__line:before{position:absolute;background-color:#fff;-webkit-transform-origin:center;transition:all .4s}.c-hamburger__line:after,.c-hamburger__line:before{content:"";left:0;top:0;width:100%;height:100%;transform-origin:center}.c-hamburger__line:before{-webkit-transform:translateY(-250%);transform:translateY(-250%)}.c-hamburger__line:after{-webkit-transform:translateY(250%);transform:translateY(250%)}.c-hamburger.is-active .c-hamburger__line{background-color:transparent;-webkit-transform:translate(-50%,-50%) rotate(180deg);transform:translate(-50%,-50%) rotate(180deg)}.c-hamburger.is-active .c-hamburger__line:before{background-color:#fff;-webkit-transform:translateY(0) rotate(45deg);transform:translateY(0) rotate(45deg)}.c-hamburger.is-active .c-hamburger__line:after{background-color:#fff;-webkit-transform:translateY(0) rotate(-45deg);transform:translateY(0) rotate(-45deg)}.c-jumbotron{position:relative;z-index:auto;overflow:hidden}.c-jumbotron__container{position:relative;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;min-height:465px;z-index:2}.c-jumbotron__content{color:#fff;text-align:center}.c-jumbotron__background{position:absolute;left:50%;top:50%;min-width:100%;min-height:100%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:0;opacity:.22}.c-label{display:inline-block;font-family:Poppins;font-size:12px;font-weight:600;color:inherit;letter-spacing:2px}.c-form-group{position:relative}.c-form-group__alert{position:absolute;left:0;bottom:-2px;max-width:100%;padding:4px 5px;font-size:12px;z-index:2;-webkit-transform:translateY(100%);transform:translateY(100%);line-height:1;color:#fff;border-radius:1px}.c-form-group__alert:before{content:"";position:absolute;left:10px;top:-9px;border:5px solid transparent}.c-form-group.has-success .c-form-control{color:#43ac6a;border-color:#43ac6a}.c-form-group.has-success .c-label{color:#43ac6a}.c-form-group.has-success .c-selectbox{color:#43ac6a;border-color:#43ac6a}.c-form-group.has-success .c-form-group__alert{background-color:#43ac6a}.c-form-group.has-success .c-form-group__alert:before{border-bottom-color:#43ac6a}.c-form-group.has-warning .c-form-control{color:#f08a24;border-color:#f08a24}.c-form-group.has-warning .c-label{color:#f08a24}.c-form-group.has-warning .c-selectbox{color:#f08a24;border-color:#f08a24}.c-form-group.has-warning .c-form-group__alert{background-color:#f08a24}.c-form-group.has-warning .c-form-group__alert:before{border-bottom-color:#f08a24}.c-form-group.has-error .c-form-control{color:#f04124;border-color:#f04124}.c-form-group.has-error .c-label{color:#f04124}.c-form-group.has-error .c-selectbox{color:#f04124;border-color:#f04124}.c-form-group.has-error .c-form-group__alert{background-color:#f04124}.c-form-group.has-error .c-form-group__alert:before{border-bottom-color:#f04124}.c-social{padding:7px;color:#fff;font-size:16px;box-shadow:0 0 0 2px transparent;transition:color .4s,box-shadow .4s}.c-social .icon{display:block}.c-social:hover{box-shadow:0 0 0 2px #fff;color:#fff}.c-tablet{position:relative;display:inline-block}.c-tablet iframe{position:absolute;left:50%;top:50%;width:81%;height:88%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.c-tablet iframe:-webkit-full-screen{-webkit-transform:translate(0);transform:translate(0)}.c-slick{margin-left:0;margin-right:0}.c-slick,.c-slick__item{padding-left:7.5px;padding-right:7.5px}.c-slick--center .c-slick__item{opacity:.5;transition:opacity .4s}.c-slick--center .c-slick__item.slick-current{opacity:1}.c-alert{font-size:16px;padding:15px;border:1px solid transparent;margin-bottom:27px}.c-alert.has-success{background-color:rgba(67,172,106,.3);border-color:#43ac6a;color:#43ac6a}.c-alert.has-error{background-color:rgba(240,65,36,.3);border-color:#f04124;color:#f04124}.c-alert.has-warning{background-color:rgba(240,138,36,.3);border-color:#f08a24;color:#f08a24}.c-alert.has-info{background-color:rgba(160,211,232,.3);border-color:#a0d3e8;color:#a0d3e8}.l-overlay{position:fixed;left:0;top:0;right:0;bottom:0;z-index:3;transition:background-color .4s}.l-overlay.is-active{background-color:rgba(0,0,0,.3)}.l-section{background-color:#fff}.l-section--gray{background-color:#f2f4f6}.l-section--pull{position:relative;z-index:2}.u-block{display:block}.u-inline-block{display:inline-block}.u-flex{display:-ms-flexbox;display:flex}.u-flex-align-right{-ms-flex-pack:end;justify-content:flex-end}.u-flex-align-center{-ms-flex-pack:center;justify-content:center}.u-flex-align-justify,.u-flex-align-spaced{-ms-flex-pack:justify;justify-content:space-between}.u-flex-align-middle{-ms-flex-align:center;align-items:center}.u-flex-align-bottom{-ms-flex-align:end;align-items:flex-end}.u-flex-align-stretch{-ms-flex-align:stretch;align-items:stretch}.u-flex-align-self-top{-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start}.u-flex-align-self-middle{-webkit-align-self:center;-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.u-flex-align-self--bottom{-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end}.u-flex-align-self-stretch{-webkit-align-self:stretch;-ms-flex-item-align:stretch;-ms-grid-row-align:stretch;align-self:stretch}.u-fit{max-width:100%}.u-full-width{width:100%}.u-overflow-hidden{overflow:hidden}.u-text-center{text-align:center}


									.u-font-weight-bold {
											font-weight:700}

									.u-color-white{color:#fff}.u-color-shuttle-gray{color:#61666d}.u-font-size-xs{font-size:12px}.u-font-size-sm{font-size:16px}

									.u-clear-gap{
										margin:0}

									.u-clear-gap-top{
										margin-top:0}

									.u-clear-gap-vertical{
										margin-top:0;margin-bottom:0}

									.u-gap-top{margin-top:27px}

									.u-gap-bottom{margin-bottom:27px}

									.u-gap-left{margin-left:14px}

									.u-gap-right{margin-right:14px}

									.u-gap-top-small{margin-top:14px}

									.u-gap-bottom-small{margin-bottom:14px}

									.u-gap-right-small{margin-right:7px}

									.u-gap-bottom-medium{margin-bottom:41px}

									.u-gap-bottom-large{margin-bottom:54px}

									.u-pad-ends{padding-bottom:50px}

									.u-pad-ends,.u-pad-top{padding-top:50px}

									.u-pad-sides-small{padding-left:25px;padding-right:25px}

									.u-pad-ends-medium{padding-top:75px;padding-bottom:75px}

									.u-pad-top-medium{padding-top:75px}

									.u-hidden{display:none}

									.u-link-white,.u-link-white:hover{color:#fff}

									.u-iframe{position:relative;height:0;overflow:hidden;padding-bottom:59.2592592593%}

									.u-iframe iframe{position:absolute;left:0;top:0;width:100%;height:100%}













							@media (min-width:544px){
								.container{max-width:576px}
								.col--sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}}

							@media (min-width:768px){
								.container{max-width:720px}

							.col--md-4{-ms-flex:0 0 33.3333333333%;flex:0 0 33.3333333333%;max-width:33.3333333333%}
							.col--md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
							.col--md-8{-ms-flex:0 0 66.6666666667%;flex:0 0 66.6666666667%;max-width:66.6666666667%}

							.l-section--pull-image{margin-top:-120px}
							.u-gap-bottom\@md-up{margin-bottom:27px}
							.u-gap-bottom-large\@md-up{margin-bottom:54px}
							.u-pad-top-medium\@md-up{padding-top:75px}
							.u-pad-bottom-medium\@md-up{padding-bottom:75px}}

							@media (min-width:992px){
							.container{max-width:940px}

							.col--lg{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}
							.col--lg-2{-ms-flex:0 0 16.6666666667%;flex:0 0 16.6666666667%;max-width:16.6666666667%}
							.col--lg-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
							.col--lg-4{-ms-flex:0 0 33.3333333333%;flex:0 0 33.3333333333%;max-width:33.3333333333%}
							.col--lg-5{-ms-flex:0 0 41.6666666667%;flex:0 0 41.6666666667%;max-width:41.6666666667%}
							.col--lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
							.col--lg-8{-ms-flex:0 0 66.6666666667%;flex:0 0 66.6666666667%;max-width:66.6666666667%}
							.col--lg-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
							.col--lg-10{-ms-flex:0 0 83.3333333333%;flex:0 0 83.3333333333%;max-width:83.3333333333%}
							.col--lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
							.col--offset-lg-1{margin-left:8.3333333333%}
							.col--offset-lg-2{margin-left:16.6666666667%}
							.col--offset-lg-8{margin-left:66.6666666667%}
							.c-navbar__hamburger{display:none}
							.u-gap-right\@lg-up{margin-right:14px}
							.u-gap-bottom-medium\@lg-up{margin-bottom:41px}
							.u-gap-right-medium\@lg-up{margin-right:20px}
							.u-gap-left-large\@lg-up{margin-left:27px}
							.u-hidden\@lg-up{display:none}}

							@media (min-width:1200px){
								.container{max-width:1140px}}

							@media (max-width:991px){
								.c-navbar__nav{
									position:fixed;
									top:0;
									left:0;
									width:250px;
									max-width:100%;
									height:100%;
									background-color:#2196f3;
									-ms-flex-direction:column;flex-direction:column;padding:30px;
									-webkit-transform:translateX(-100%);transform:translateX(-100%);
									transition:-webkit-transform .4s;transition:transform .4s;
									transition:transform .4s,-webkit-transform .4s;z-index:4}

							.c-navbar__nav.is-active{
								-webkit-transform:translateX(0);transform:translateX(0)
							}

							.c-navbar__nav .c-button{
									display:block}

							.u-flex-dir-column-reverse\@md-down{
								-ms-flex-direction:column-reverse;flex-direction:column-reverse
							}

							.u-fit\@md-down{
								max-width:100%
							}

							.u-text-center\@md-down{
								text-align:center
							}

							.u-gap-bottom\@md-down{
								margin-bottom:27px
							}

							.u-gap-bottom-small\@md-down{
								margin-bottom:14px
							}

							.u-gap-bottom-medium\@md-down{
								margin-bottom:41px
							}

							.u-pad-top\@md-down{
								padding-top:50px
							}}

							@media (max-width:800px){
								.fancybox-controls{
									text-align:left
								}

							.fancybox-button--left,.fancybox-button--right,.fancybox-buttons button:not(.fancybox-button--close){
								display:none!important
							}

							.fancybox-caption{
								padding:20px 0;
								margin:0
							}

							.fancybox-thumbs{
								display:none!important
							}

							.fancybox-container--thumbs .fancybox-caption-wrap,.fancybox-container--thumbs .fancybox-controls,.fancybox-container--thumbs .fancybox-slider-wrap{right:0}}

							@media (max-width:767px){
								.c-navbar__body{min-height:80px}
								.u-block\@sm-down{display:block}
								.u-text-center\@sm-down{text-align:center}
								.u-pad-top-small\@sm-down{padding-top:25px}
								.u-pad-bottom-small\@sm-down{padding-bottom:25px}
								.u-hidden\@sm-down{display:none}}

								@media (max-width:543px){
									.u-hidden\@xs-down{display:none}}

								@-webkit-keyframes a{
									0%{-webkit-transform:rotate(0deg);
										transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);
										transform:rotate(359deg)}}

								@keyframes a{
									0%{-webkit-transform:rotate(0deg);
										transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);
								transform:rotate(359deg)}}